button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(0, 0, 30);
    color: aliceblue;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(90, 84, 84);
    border-radius: 15px;
    overflow: hidden;
    max-width: 500px;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(39, 27, 27);
    
}
#Display{
    width: 100%;
    height: 30px;
    padding: 25px;
    background-color: rgb(136, 130, 130);
    border: none;
    text-align: left;
    font-size: 5rem;
    color: aliceblue;
}
button:hover{
    background-color: rgb(0, 0, 60);
}
button:active{
    background-color: rgb(0, 0, 90);
}
.opperator-btn{
    background-color: orange;    
}
.opperator-btn:hover{
    background-color: rgb(255, 184, 51);
}
.opperator-btn:active{
    background-color: rgb(250, 195, 94);
}

